.inputs{
    height: 50px;
}
.inputbg{
    background: url("../images/sousuo.jpg") no-repeat;
    width:275px;
    height: 25px;
    position: relative;
    left: 200px
}
.inputbg>input{
    position: relative;
    left:-15px;
    top: -8px;
    background:transparent;
    border:0;
    outline: none;
}
.inputbg input[type=text]{
    padding-left:10px; 
   width:205px;
   height: 25px;
}
.inputbg input[type=button]{
    width:70px;
    height: 25px;
   cursor: pointer;
 }
/* 放大镜功能 */
#listimg2{
    height: 500px;
    padding:0px 0px 5px 40px;
}
/* 原始图片 */
.xs{
    position: relative;
    border:1px soild black;
    height: 400px;
    width:400px;
}
#mask{
    position: absolute;
    display: block;
    width: 400px;
    height:400px;
    background-color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 10;
}
/* 背景图片 */
.xs>img{
    position: absolute;
}
/* hover时显示出来的放大镜 */
 #fdj{
     position: absolute; 
     width:200px;
     height: 200px;
     background:rgba(0,0,0,.5);
     display: none;
     z-index: 1;
 }
 /* 侧边放大的图片 */
 #fdtp{
    position:absolute;
    width:300px;
    height:300px;
    border:1px solid black;
    background: white;
    left:400px;
    top:8px;
    overflow: hidden;
    z-index: 10000;
    display: none;
 }
 #fdtp>img{
     position: relative;
 }
 /* 放大镜结束 */
.xm{
    position: absolute;
    top:410px;
}
