.inputs{
    height: 50px;
}
.inputbg{
    background: url("../images/sousuo.jpg") no-repeat;
    width:275px;
    height: 25px;
    position: relative;
    left: 200px
}
.inputbg>input{
    position: relative;
    left:-15px;
    top: -8px;
    background:transparent;
    border:0;
    outline: none;
}
.inputbg input[type=text]{
    padding-left:10px; 
   width:205px;
   height: 25px;
}
.inputbg input[type=button]{
    width:70px;
    height: 25px;
   cursor: pointer;
 }
/* 放大镜 */
.xs{
    position: relative;
}

 #fdj{
     position: absolute; 
     width:200px;
     height: 200px;
     background:rgba(0,0,0,.5);
     display: none;
     top:0px;
    z-index: -1;
 }
 #fdtp{
     position: absolute;
    width:300px;
    height:300px;
    border:1px solid black;
    background: white;
    left:400px;
    overflow: hidden;
    z-index: 10000;
    display: none;
 }
#fdtp>img{
    position:relative;
}
.xs>div:first-child{
    width:400px;
    height:400px;
    border:1px solid black;
    background-repeat: no-repeat;
    background-size:400px 400px;
}

