.my_img_div1{
    border-top:3px solid #FFA800;
}
.opca{ 
    transition:all 0.2s linear 0s ;
    opacity: 0.5;
} 
.opc{
    opacity: 1;
}
#tu123 img:hover{
    transform: rotate(360deg);
    transition: all 0.5s linear 0s ;  
}
#tu123 a{
    display: inline-block;
    width: 150px;
    height: 150px;

}

/*轮播图*/
#banner{
    position: relative;
    width:100% ;
    height:490px;
    border: 1px solid #666;
    overflow: hidden; }
#banner_list img {
    border: 0px;
}
#banner ul { position: absolute;
    list-style-type: none;
    filter: Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 1002;
    margin: 0;
    padding: 0;
    bottom: 3px;
    right: 5px; }
#banner ul li {
    padding: 0px 8px;
    float: left;
    display: block;
    color: #FFF;
    background: #6f4f67;
    cursor: pointer;
    border: 1px solid #333; }
#banner ul li.on { background-color: #000; }
#banner_list a { position: absolute; }
