body{
    width:100%
}
a{
  color:#000000;
}
a:hover{
    color:#F59300;
}
.my_font_size1 ul li a p{
    font-size: 12px;
    color:#000;
}
.p_hidden{
    display: none;
    position: relative;
}
.my_p_block{
    position: relative;
}
.my_p_block:hover .p_hidden{
    display: block;
    position: absolute;
    top:64px;
    left:10px;
    z-index:50;
    background:white;
    width: 80px;
}
.p_hidden a{
display: block;
}
.p_hidden a:hover{
    background: #F59300;
    color:white;
}
.my_rotate_img{
    position:absolute;
    left:37px;
    transition: all .3s linear;
}
.my_p_block:hover .my_rotate_img{
    transform: rotate(180deg);
}
.my_img_div1{
    border-top:5px solid #FFA800;

}

.my_share_li ul li{
    margin: 5px;
}
.my_hidden_img_hover{
    position:fixed;
    top:130px;
    left:0;
    transition: all .1s linear;
    z-index: 10;
}
.my_hidden_img_hover:hover {
    transform: translateX(118px);
    z-index: 10;
}
.div_hidden{
    display: none;
    transition: all .1s linear;
}
.my_hidden_img_hover:hover .div_hidden{
    display: block;
    position: absolute;
    left:-114px;
}
.my_color1{
    background:rgba(0,0,0,.1);
    font-weight: bold;
}
